body{
    font-size: Arial,san-serif;
    background-color: #ff6200;
    text-align: center;
    padding-top: 50px;
}
h1{
    color: #333;
    margin-bottom: 20px;
}
input{
    width: 250px;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 16px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    border-radius: 5px;
    cursor: pointer;
    margin-top: #45a049;
}
button:hover{
    background-color: #45a049;
}
p{
    margin-top: 20px;
    font-size: 14px;
}
a{
    color: #020743;
    text-decoration: underline;
}
a:hover{
    text-decoration: underline;
}
h1{
    font-size:larger;
    text-align: center;

    margin-top: 50px;
}
h2{
    font-size:larger;
    text-align: center;

    margin-top: 20px;
}
body{
    background-color: #e84d0a;
}